*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body, .logo, .header, .first-aside, main, .second-aside{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mother, .logo, .header, .first-aside, main, .second-aside{
    border: 2px solid;
    border-radius: 1rem;
    position: relative;
}

.mother{
    width: 80%;
    height: 30%;
    border-color: red;
}

.logo{
    width: 20%;
    height: 40%;
    border-color: blue;
    color: blue;
}

.header{
   width: 80%;
   height: 40%;
   border-color: green;
   right: -20%;
   top: -42%;
   color: green;
}

.first-aside{
    height: 60%;
    width: 35%;
    border-color: black;
    top: -43%;
}

main{
    height: 60%;
    width: 40%;
    border-color: orange;
    top: -105%;
    right: -35%;
    color: orange;
}

.second-aside{
    height: 60%;
    width: 25%;
    border-color: yellow;
    top: -166%;
    right: -75%;
    color: yellow;
}