*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.mother{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: .7fr .3fr 1fr 1fr;
    grid-template-areas: 
    "logo header header header"
    "first-aside first-aside main second-aside";
}

.logo, .header, .first-aside, main, .second-aside{
    border: 2px solid;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.logo{
    border-color: red;
    grid-area: logo;
}

.header{
    border-color: blue;
    grid-area: header;
}

.first-aside{
    border-color: black;
    grid-area: first-aside;
}

main{
    border-color: orange;
    grid-area: main;
}

.second-aside{
    border-color: red;
    grid-area: second-aside;
}